-if @posts.any?
  -@posts.each do |post|
    .post_display.text-center
      .post_image.col-md-12=image_tag(post.image.url(:large))
      %br
      .post_message.raleway=post.message
      .delete_post.raleway= link_to 'Delete', post_path(post), method: :delete
      .edit_post.raleway= link_to 'Edit', edit_post_path(post)
-else
  %h3 No posts yet.