-if @posts.any?
  -@posts.each do |post|
    .row.post_display
      .post_image.col-md-12=image_tag(post.image.url(:large))
      .col-md-12
        -existing_like = post.likes.where(user_id: current_user.id).first if user_signed_in?
        =link_to post_likes_path(post), class: "add-like" do
          %i.fa{class: existing_like ? "fa-heart" : "fa-heart-o"}
        .total_likes="#{post.likes.count}"
        .pull-right
          .post_buttons
            -if can? :update, post
              =link_to edit_post_path(post), class: "edit-button" do
                %i.fa.fa-pencil
            -if can? :destroy, post
              =link_to post_path(post), method: :delete, class: "delete-button" do
                %i.fa.fa-trash
      .col-md-12
        .post_message.raleway="@#{post.user.username} #{post.message}"
-else
  %h3 No posts yet.
