-if @posts.any?
  -@posts.each do |post|
    .post_display.text-center
      .post_image.col-md-12=image_tag(post.image.url(:large))
      %br
      .post_message.raleway=post.message
-else
  %h3 No posts yet.