%head
  %title 
    picturegram
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  #main-nav
    %a#home_button{:href => "/"}
      %h2.text-center
        picture
        %i.fa.fa-camera
        gram
    .pull-right#add_post
      =link_to "Add a Post", new_post_path, :class => 'btn btn-primary'
  .content.col-md-6.col-md-push-3
    = yield
