%head
  %title 
    Picturegram
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  #main-nav
    %h2.text-center
      Picturegram
    .pull-right#add_post
      =link_to "Add a Post", new_post_path, :class => 'btn btn-primary'
  .content.col-md-6.col-md-push-3
    = yield
